@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --background-light: #e9fffa;
  --text-light: #0c233e;
  --secondary-light: #b9e9de;
  --background-dark: #042b22;
  --text-dark: #f8f3f3;
  --secondary-dark: #09634e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
